h1 Media su un anno

canvas#chart(width="700" height="400")
.row
  .col-sm-6
    .row
      .col-sm-12
        label prezzo vendita
          input(type="number", ng-model="prezzoVendita",step="0.01")
          | €/Kw
      .col-sm-12
        label prezzo acquisto
          input(type="number", ng-model="prezzoAcquisto", step="0.01")
          | €/Kw
      .col-sm-12
        label costo pannelli
          input(type="number", ng-model="costoPannelli", step="0.01")
          | €
  .col-sm-6
    h3  Guadagno:
      p{{ (guadagno() | number:2) + "€/anno"}}
    h3 Risparmio:
      p{{ (risparmio() | number:2) + "€/anno"}}
    h3 Totale
      p{{ ((guadagno()+risparmio()) | number:2) + "€/anno"}}
    h3 {{"La spesa è ripresa in " + (anni() |number:0) + " anni" }}
    //h3 {{anni()}}

//table
  tr
    td intervall
    td consumo
    td produzione
    td diff
    td prezzo€€€
  tr(ng-repeat="interval in intervals")
    td {{interval.start}}
    td {{interval.consumo}}
    td {{interval.produzione}}
    td {{interval.diff}}
    td {{interval.price()}}